body {     
  font: 400 15px "Times New Roman", serif; /*Familia sans-serif*/
  line-height: 1.8;
  color: #818181
}
h1 {
  background-color:#FF5733; 
  color: #fff;
  text-transform: uppercase;
  padding: 100px 25px;
  text-align: center;     
}
h2 {
font: 400 22px "Times New Roman", serif; /*Familia sans-serif*/
line-height: 1.8;
color: #818181;
}

table {
border: 4px solid black;
}


td, tr, th{
border: 2px solid black;
}
#protagonistas{
       float: left;
       width: 30%;
       color: black;
       background-color: cadetblue;
}

#premios{
    float: rigth;
    width: 30%;
}

#sinopsis{
      display:block;
      width: 50%;
}