/*(0,0,1)*/
body {       
  font: 400 20px "Times New Roman", serif; /*Familia serif*/
  line-height: 1.8;
  color: #818181
}
/*(0,0,1)*/
h1 {
  background-color:#FF5733; 
  color: #fff;
  text-transform: uppercase;
  padding: 100px 25px;
  text-align: center;     
}
/*(0,0,1)*/
h2 {
  font: 400 22px "Times New Roman", serif; /*Familia serif*/
  line-height: 1.8;
  color: #818181;
}
/*(0,0,1)*/
table {
    border: 4px solid black;
    border-collapse: collapse;
}

/*(0,0,1)*/
td, tr, th{
    border: 2px solid black;
    border-collapse: collapse;

}

/*(0,0,2)*/
h1 + nav{  
  display: block;
  background-color: grey;
  color: #FF5733;
}
/*(0,0,2)*/
nav a{
  font: 400 22px "Times New Roman", serif;
  color: black;
  text-decoration: none;
  background-color: grey;
  padding: 3px;
}
/*(0,1,2)*/
nav a:hover{
  background-color: #FF5733;
  color:white;
}
