/*(0,0,1)*/
body {       
  font: 400 medium "Times New Roman", serif; /*Familia serif*/
  line-height: 1.8;
  color: black;
  background-color: white;
  box-sizing: border-box;
  
}
/*(0,0,1)*/
h1 {
  background-color:#FF5733; 
  color: #fff;
  text-transform: uppercase;
  padding: 100px 25px;
  text-align: center;     
}
/*(0,0,1) */
h2 {
  font: 400 large "Times New Roman", serif; /*Familia serif*/
  line-height: 1.8;
  color: black;
  background-color: white;
}

/*(0,0,1) */
h3 {
  font: 300 medium "Times New Roman", serif; /*Familia serif*/
  line-height: 1.8;
  color: black;
  background-color: white;
}
/*(0,0,1)*/
table {
    border: 4px solid black;
    border-collapse: collapse;
}

/*(0,0,1)*/
td, tr, th{
    border: 2px solid black;
    border-collapse: collapse;

}

/*(0,0,2)*/
h1 + nav{  
  display: block;
  background-color: grey;
  color: #FF5733;
}
/*(0,0,2)*/
nav a{  
  color: white;
  text-decoration: none;
  background-color: grey;
  
}
/*(0,1,2)*/
nav a:hover{
  font: large;
  background-color: #FF5733;
  color:white;
}
/*(0,0,1)*/
img{
  max-width: 100%;
  width: 100% ;
  padding: 0px;
  border: 0px;  
}
/*(0,0,1)*/
section{
  float: left;
  width: 33.33%;
}
/*(0,0,1)*/
video{
  float:left;
}
